body {
  /*background-color: #f8f8f8;*/
  background: #1f1f1f;
}
#app {
  width: 100%;
}
#page-wrapper {
  padding: 0;
  min-height: 568px;
  width: 80%;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    margin: 0 0 0 250px;
  }
}
@media (max-width: 768px) {
  #page-wrapper {
    width: 100%;
    margin: 0;
  }
}
.navbar {
  background-color: #283643;
  margin: 0;
}
/* nacbar style */
.navbar-top-links {
  margin: 0;
}
.navbar-top-links li {
  display: inline-block;
}
/* sidebar style */
.sidebar {
  width: 20%;
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    /*margin-top: 51px; modify at 2016-08-26 16:28, thlin*/
  }
}
/* main-area style */
.main-area {
  padding: 0;
  margin: 0;
}
/*
 * Change page animanal base on CSS transition.
 */
.fade-transition {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave {
  opacity: 0;
}
/* scroll-table style */
.scroll-table {
  padding-left: 0;
  margin-left: 0;
  overflow: auto;
}
/* FunA style */
.FunA-style {
  padding: 10px;
}
